.layout{
    min-height: 100vh;
    background-color: #fff;

    .sidebar {
        background-color: #101828;

        .logobox {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-bottom: 25px;
            margin-top: 25px;
        }

        .navigation {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 87vh;
            background-color: #101828;

            .primarymenu {
                background-color: #101828;
            }

            .secondarymenu {
                background-color: #101828;
            }

            .avatarcontainer {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
            }
        }
    }

    .layoutcontent{

        .childrencontainer{
            padding: 30px;
            background: white;
        }
    }


    
}

.sidebariconsvg > svg{
    size: 3px;
    height: 21px;
    width: 20px;
    transform: translate(-2px, 3px);
    fill: transparent;
    color: inherit;
    stroke: inherit;
}

