

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .loginform {
        width: 20%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .loginform {
        width: 20%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .loginform {
        width: 20%;
    }
}

@media only screen and (max-width: 992px) {
    .logincontainer{
        height: 70vh;
    }
}

.logincontainer{
    height: 96vh;
    display: flex;
    flex-direction: column;

    .logorow{
        margin: 20px;
        display: flex;
        flex-direction: row;

        .nav{
            background-color: #F2F4F7;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin-left: auto;
            width: 100%;

            >ul {
                background-color: #F2F4F7;
                border-bottom: none;
            }

            @media (max-width: 992px){
                .navmenu {
                    width: 80px;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                }
            }

            @media (min-width: 993px){
                .navmenu {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                }
            }

        }
    }

    .formContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;

        .formtitle{
            margin-bottom: 20px;
            font-size: 32px;
            font-weight: 700;
            line-height: 44px;
        }

        .formexplanation{
            color: var(--foreground-rgb-secondary);
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 32px;
            width: 90%;
            text-align: center;
        }

        .loginform {
            max-width: 360px;
            width: 80%;

            .loginpart{
                font-weight: 700;
                line-height: 20px;
                size: 14px;
                letter-spacing: 1%;
            }

            .logininput{
                background-color: white;
                padding: 10px 14px 10px 14px;
                border-radius: 8px;
            }

            .rememberrow{
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                a {
                    color: #1478FD;
                    font-weight: 700;
                }
            }

            .loginbutton{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-top: 32px;
                
                
            }
        }

        .signupnotice{
            font-size: 14px;
            display: flex;
            flex-direction: row;

            .signuplink{
                margin-left: 8px;
                color: #1478FD;
                font-weight: 700;
            }
        }

    }

    .googleloginbutton{
        width: 360px;
        height: 44px;
        margin-bottom: 32px;

        button {
            width: 360px;
            height: 44px;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            padding: 10px 18px 10px 18px;
        }
    }
}

.copyrightfooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #475467;
}

.headericon> svg{
    font-size: 24px;
    fill: transparent;
    color: inherit;
    stroke: inherit;

    > path {
        stroke: black;
    }
}