
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .loginform {
        width: 80%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .loginform {
        width: 50%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .loginform {
        width: 30%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .loginform {
        width: 30%;
    }
}