	
/* For very small screen devices (500px and below) */
@media only screen and (max-width: 500px){ 
/* CSS Styling */
  .msg {
    font-size: large;
    font-weight: bold;
  }

  .userinputform{
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;

    .userinputcardmain{
      width: 100%;
      border-radius: 12px;
      border-color: #EAECF0;
    }

    .userinputcardsub{
      width: 100%;
      border-left-width: 0px;
      border-radius: 12px;
      border-color: #EAECF0;
    }
  }

  .formfootercontainer{
    min-height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .generatebuttonrow{
      margin-bottom: 44px;
      margin-top: 44px;
      
      button {
          

          .buttonicon > svg{
            transform: translate(-1px, 4px);
            fill: transparent;
            color: inherit;
            stroke: inherit;
        }
      }
    }
  }

  .answercard{
    border-radius: 12px;
  }
}
 
 
/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {
  /* CSS Styling */
   // applied CSS styling
   .msg {
    font-size: large;
    font-weight: bold;
  }

  .userinputform{
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;

    .userinputcardmain{
      width: 100%;
      border-radius: 12px;
      border-color: #EAECF0;
    }

    .userinputcardsub{
      width: 100%;
      border-left-width: 0px;
      border-radius: 12px;
      border-color: #EAECF0;
    }
  }

  .formfootercontainer{
    min-height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .generatebuttonrow{
      margin-bottom: 44px;
      margin-top: 44px;
      
      button {
          

          .buttonicon > svg{
            transform: translate(-1px, 4px);
            fill: transparent;
            color: inherit;
            stroke: inherit;
        }
      }
    }
  }

  .answercard{
    border-radius: 12px;
  }
}
 
 
/* Medium screen devices (700px and above) */
@media only screen and (min-width: 700px) {
  /* CSS Styling */
  // applied CSS styling
  .msg {
    font-size: large;
    font-weight: bold;
  }

  .userinputform{
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;

    .userinputcardmain{
      width: 100%;
      border-radius: 12px;
      border-color: #EAECF0;
    }

    .userinputcardsub{
      width: 100%;
      border-left-width: 0px;
      border-radius: 12px;
      border-color: #EAECF0;
    }
  }

  .formfootercontainer{
    min-height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .generatebuttonrow{
      margin-bottom: 44px;
      margin-top: 44px;
      
      button {
          

          .buttonicon > svg{
            transform: translate(-1px, 4px);
            fill: transparent;
            color: inherit;
            stroke: inherit;
        }
      }
    }
  }

  .answercard{
    border-radius: 12px;
  }
}
 
 
/* Big screen devices (900px and above) */
@media only screen and (min-width: 900px) {
  /* CSS Styling */
  // applied CSS styling
  .msg {
    font-size: large;
    font-weight: bold;
  }

  .userinputform{
    display: flex;
    flex-direction: row;
    width: 100%;

    .userinputcardmain{
      width: 60%;
      border-radius: 12px 0px 0px 0px;
      border-color: #EAECF0;
    }

    .userinputcardsub{
      width: 40%;
      border-left-width: 0px;
      border-radius: 0px 12px 0px 0px;
      border-color: #EAECF0;
    }
  }

  .formfootercontainer{
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #EAECF0;
    min-height: 100px;
    border-radius: 0px 0px 12px 12px;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .generatebuttonrow{
      margin-bottom: 44px;
      margin-top: 44px;
      
    }
  }

  .answercard{
    border-radius: 12px 12px 0px 0px;
  }
}
 
 
/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
  /* CSS Styling */
  // applied CSS styling
  .msg {
    font-size: large;
    font-weight: bold;
  }

  .userinputform{
    display: flex;
    flex-direction: row;
    width: 100%;

    .userinputcardmain{
      width: 60%;
      border-radius: 12px 0px 0px 0px;
      border-color: #EAECF0;
    }

    .userinputcardsub{
      width: 40%;
      border-left-width: 0px;
      border-radius: 0px 12px 0px 0px;
      border-color: #EAECF0;
    }
  }

  .formfootercontainer{
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #EAECF0;
    min-height: 100px;
    border-radius: 0px 0px 12px 12px;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .generatebuttonrow{
      margin-bottom: 44px;
      margin-top: 44px;
      
    }
  }

  .answercard{
    border-radius: 12px 12px 0px 0px;
  }
}



.main {
  display: flex;
  flex-direction: column;
  width: 100%;

  .welcomemessage {
    margin-bottom: 25px;

    .messagcnt{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 16px;

      .histbutton{
        margin-left: auto;
      }

    }

    .welcomeseperator{
      margin-top: 25px;
      margin-bottom: 0px;
      border-color: #D0D5DD;
      color: #D0D5DD;
      background-color: #D0D5DD;
    }
  }

  .userinputformcontainer{

    .userinputform{
      .formpart{
        font-weight: 700;
        line-height: 20px;
        size: 14px;
        letter-spacing: 1%;

        .forminput{
          background-color: white;
          padding: 10px 14px 10px 14px;
          border-radius: 8px;
          box-shadow: 0px 1px 2px 0px #1018280D;
          border-color: #D0D5DD;
        }

        .formselect{
          background-color: white;
          border-radius: 8px;
          box-shadow: 0px 1px 2px 0px #1018280D;
          border-color: #D0D5DD;
        }
      }
    }

    .historycard{
      margin-top: 32px;
    }

    .answer{
      //white-space: pre-line;
      > ol {
        margin-left: 20px;
      }
    }

    .clipboardextra{
      color: #667085;
      padding: 6px 12px 6px 12px;
      border-radius: 8px;

      .clipboardicon {
        font-size: 18px;
        margin-right: 2px;
      }

      .clipboardicon > svg{
        transform: translate(-1px, 0px);
        fill: transparent;
        color: inherit;
        stroke: inherit;
      }

      &:hover{
        cursor: pointer;
        background-color: #F2F4F7;
      }
    }

    .tokeninfo{
      background-color: #F2F4F7;
      padding: 12px;
      width: 100%;
      border-radius: 8px;
      margin-top: 30px;
      font-weight: 700;
      color: #344054;

      .infoicon {
        width: 22px;
        height: 22px;
        font-size: 18px;
      }

      .infoicon > svg{
        transform: translate(-1px, 2px);
        fill: transparent;
        color: inherit;
        stroke: inherit;
      }
    }
  }

  .hiddencontainer{
    display: none;
  }
}

.emptyhistory{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ant-select-selection-item{
font-size: 14px;
}

.content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contentcol{
  width: 50%;
}

.actionrow{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 25px;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo {
  position: relative;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}


.substepheadline{
  margin-bottom: 25px;
}

.logoutbutton{
  color: #78C5EF
}

.logoutbutton:hover{
  text-decoration: underline;
}

.answerRow{
  width: 100%;
}

.mrow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mcol{
  width: 100%;
}

.submitrow{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.submitbutton{
  margin-right: 10px;
}

.answercol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clipboardbutton{
  width: 30%;
}

.tokenalert{
margin-top: 20px;
margin-bottom: 20px;
}

.singlehistitem{
  display: flex;
  flex-direction: column;
  
  .histitem{
    width: 100%;
  }

  .subcontent{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    color: #667085;
  }
}

.disclaimer{
  margin-top: 20px;
  margin-bottom: 20px;
}