
.servicebox {
    display: flex;
    flex-direction: column;


    .servicecard{
        border-radius: 12px 12px 0px 0px;
        border-bottom-color: #fff;
        box-shadow: 0px -1px 2px 0px #1018280F;
        box-shadow: 0px -1px 3px 0px #1018281A;
    }

    .serviceheadline{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 32px;
        margin-bottom: 20px;

        .servicelogo{
            width: 50px;
            height: 50px;
            overflow: hidden;
            //border: #1478FD 2px solid;
            border-radius: 12px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .servicetitle{
            font-weight: 600;
        }
    }

    .servicedescription{
        color: #475467;
        height: 60px;
    }

    .servicefooter{
        height: 55px;
        width: 300px;
        background-color: white;
        border: 1px solid #f0f0f0;

        border-radius: 0px 0px 12px 12px;

        padding-left: 24px;
        padding-right: 24px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0px 1px 2px 0px #1018280F;
        box-shadow: 0px 1px 3px 0px #1018281A;

        .actions{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 16px;

            .iconsvg > svg{
                size: 3px;
                height: 21px;
                width: 20px;
                transform: translate(-2px, 3px);
                fill: transparent;
                color: #667085;
                stroke: #667085;

                >path {
                    stroke: #667085;
                }
            }

            .fav {
                font-size: 20px;
                &:hover {
                    cursor: pointer;
                }
            }
    
            .active > svg {
                color: #F24E1E !important;
                stroke: #F24E1E !important;

                >path {
                    stroke: #F24E1E;
                }
            }
        }

        

        .assistantlink {
            font-weight: 700;
            color: #1478FD;

            &:hover {
                cursor: pointer;
            }
        }

        .brokenassistantlink {
            font-weight: 700;
            color: lightgray;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.videobuttoncontainer{
    &:hover {
        cursor: pointer;
    }
}