@import './components/assistant.module.scss';
@import './components/chatassistant.module.scss';

body{
    margin: 0;
}

.fixed-chat ::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #E6E6E6;
}

.fixed-chat ::-webkit-scrollbar
{
    width: 6px;
    display: block;
}

.fixed-chat ::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #ACACAC;
    background-color: #ACACAC;
}

/* Hide scrollbar for Chrome, Safari and Opera */

#chatmsg::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.fixed-chat-expanded{
    border-radius: 10px;
    padding: 5px;
    width: 97%;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    height: 95%;
    background: url(../public/bg.jpg) no-repeat;
    background-size: cover;
    position: fixed;
    bottom: 17px;
    left: 1.5rem;
    z-index: 999;
    overflow: auto;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.fixed-chat {
    border-radius: 10px;
    padding: 5px;
    width: 20%;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: block;
    align-items: center;
    height: 95%;
    background: url(http://localhost:9000/bg.jpg) no-repeat;
    background-size: cover;
    position: fixed;
    top: 19em;
    height: 24em;
    z-index: 999;
    right: 1em;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);

    .content {
      padding-top: 35px;
      flex: 1;
      display: flex;
      flex-direction: column;
      font-size: 12px;
      color: #515151;
      height: 80%;
      margin-bottom: 100px;
      width: 95%;
    }

    .chat-input {
      padding: 7px;
      width: 17%;
      height: 5%;
      overflow: auto;
      position: fixed;
      z-index: 100;
      bottom: 42px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      display: flex;
      align-items: center;
      background-image: linear-gradient(140deg, #98a89e 0%, #b3b6b5 50%, #bfbfbf 75%);
      overflow: hidden;
    }
    .inputformitem .area {
      background-color: rgba(255, 255, 255, 0.5);
      height: 19.6px !important;
    }

    .chatbot-icon {
      width: 10%;
    }

    .time-left {
      top: 53%;
      padding-bottom: 10px;
  }

  .message-small {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 15px;
    margin-bottom: 10px;
    width: 57%;
    margin-left: 24%;
    position: relative;
}
.message {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #fff;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 10px;
  max-width: 70%;
  position: relative;
  overflow-y: auto;
}

  }

.d-none{
  display:none;
}

.minimise-icon-show{
  display:block;
}


.d-flex{
  display: flex;
}

.cross-icon-img{
  width: 1em;
}

.expand-icon-img{
  width: 2em;
}

.icon-position{
  position: fixed;
  right: 30px;
  padding: 10px;
  cursor: pointer;
}

.container{
  padding:10px;
}

.content {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: #515151;
    height: 80%;
    width:35%;
    margin-bottom: 100px;
}
.arrowup{
    position: fixed;
    top: 20px;
    left: 500px;
    z-index: 1;
    width: 30px;
}
.message {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #fff;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 10px;
    max-width: 80%;
    position: relative;
    overflow-y: auto;
}

.msgrow.message:last-child {
    margin-bottom: 0;
}

.message p {
    margin: 0;
}
.time {
    color: #fff;
    font-size: 10px;
    position: absolute;
    bottom: 0;
}
.time-left{
  top: 23%;
  padding-bottom: 10px;
}
.time-right{
  position: relative;
  left: 93%;
  padding-bottom: 10px;
  bottom: 20px;
}
.message-small {
    background-color: rgb(255 255 255 / 50%);
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 15px;
    margin-bottom: 10px;
    width: 80%;
    margin-left: 24%;
    position: relative;
}
.chat-input {
  width: 35%;
  overflow: auto;
  position: fixed;
  z-index: 100;
  bottom: 17px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  display: flex;
  align-items: center;
  background-image: linear-gradient(140deg, #98a89e 0%, #b3b6b5 50%, #bfbfbf 75%);

    form{
        width: 100%;
    }
    
}

.chat-input-minimised{
  width: 20%;
  height: 7%;
  position: fixed;
  z-index: 100;
  bottom: 17px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  display: flex;
  align-items: center;
  background-image: linear-gradient(140deg, #98a89e 0%, #b3b6b5 50%, #bfbfbf 75%);
}

.send-btn {
    margin: auto;
    padding: 0 1rem;
}

.inputformitem .area {
  background-color: rgba(255, 255, 255, 0.5);
  
}

.chat-input input {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 95%;
    background: rgb(255 255 255 / 40%);
    color: #fff;
}
.chat-input input::placeholder {
    color: #fff;
}
.chat-input input:hover, .chat-input input:active{
    outline: none;
    box-shadow: none;
    border: 1px solid #ccc;
}
.sidebar {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color: #000;
    padding: 20px;
    text-align: center;
    font-size: 3rem;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}


/* Medium screen devices (700px and above) */
@media only screen and (min-width: 700px) {
    /* CSS Styling */
    // applied CSS styling
    // .fixed-chat {
    //     max-width: 550px;
    // }
}

@media only screen and (max-width: 500px){
    // .fixed-chat {
    //     max-width: 400px;
    // }

    .chat-input {
        width: 100%;
        max-width: 90%;
    }    
}

.expand-icon{
  position: fixed;
  bottom: 1em;
  right: 4em;
  display: block;
}