openapi: 3.0.0
info:
  title: Siteware Public API
  description: Description of the publicly available API endpoints to use assistants
  version: 1.0.0
servers:
  - url: https://mailbuddy.sugarbyte.de/api/v1
    description: Staging server
  - url: https://app.siteware.io/api/v1
    description: Production server
paths:
  /query/chat:
    post:
      summary: Returns a chat message generated by chatGPT from the given parameters
      description: Will use the provided body content to generate a response to the given query by using the specified assistant. This route is only applicable for chat assistant!
      tags: ["Assistants"]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatRequest'
      parameters:
        - in: header
          name: x-api-key
          schema:
            $ref: '#/components/schemas/ApiKeyHeader'
          required: true

      responses:
        '200':    # status code
          description: If the request was successfull. Returns a stream of tokens generated by our AI backend
        '400':
          description: If an error occured during the processing of the request. Please see the send error code and message for further information.
        '500':
          description: If an internal error occured. Will be thrown if either the configuration of the assistant being used is broken, or if the account balance of the client could not be reduced. Please refer to the errorcode and message send by the application.

  /query/QaA:
    post:
      summary: Returns a response generated by chatGPT from the given parameters.
      description: Will use the provided body content to generate a response to the given query by using the specified assistant. This route is only applicable for QaA assistant!
      tags: ["Assistants"]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QaARequests'
      parameters:
        - in: header
          name: x-api-key
          schema:
            $ref: '#/components/schemas/ApiKeyHeader'
          description: API key from the website backend
          required: true


      responses:
        '200':    # status code
          description: If the request was successfull. Returns a stream of tokens generated by our AI backend
        '400':
          description: If an error occured during the processing of the request. Please see the send error code and message for further information.
        '500':
          description: If an internal error occured. Will be thrown if either the configuration of the assistant being used is broken, or if the account balance of the client could not be reduced. Please refer to the errorcode and message send by the application.

  /schema/:
    get:
      summary: Returns information about the given assistant
      description: Route will provide information about a given assistant.
      tags: ["Assistants"]
      parameters:
        - in: header
          name: x-api-key
          schema:
            $ref: '#/components/schemas/ApiKeyHeader'
          description: API key from the website backend
          required: true

        - in: query
          name: aid
          schema:
            type: string
          description: Id of the assistant to get information from
          required: true


      responses:
        '200':    # status code
          description: If the request was successfull. Returns a stream of tokens generated by our AI backend
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssistantSchemaResponse'
        '400':
          description: If an error occured during the processing of the request. Please see the send error code and message for further information.
        '500':
          description: If an internal error occured. Will be thrown if either the configuration of the assistant being used is broken, or if the account balance of the client could not be reduced. Please refer to the errorcode and message send by the application.

components:
  schemas:
    ChatRequest:
      type: object
      properties:
        aid:
          type: string
          description: Id the of assistant that should be interacted with
          example: "xxxxxxxxxxxxx"
        query:
          type: string
          description: Chat message of the user that should be handeld by the assistant
          example: "Hey, how is it going?"
        messages:
          type: array
          example: ["Hey, how is it going?", "I´m doing fine, how are you?"]
          items:
            type: string
            description: Previoulsy send chat messages, used to provide context to the assistant. Needs to contain answers of the assistant and queries of the user

    QaARequests:
      type: object
      properties:
        aid:
          type: string
          description: Id the of assistant that should be interacted with
          example: "xxxxxxxxxxxxx"
        query:
          type: object
          description: Object containing a mapping between input field key id and a corresponding field value
          example: { name: "John doe", age: "23", yourQuestion: "Is the cake a lie?"  }

    ApiKeyHeader:
      type: string


    AssistantSchemaResponse:
      type: object
      properties:
        type:
          type: string
          description: Type of the assistant
          enum: [ "QAA", "CHAT" ]
        name:
          type: string
          description: name of the assistant
          example: "MyAssistant"
        description:
          type: string
          description: Description of the assistant
          example: "This assistant does something"
        category:
          type: string
          description: Category of the assistant
          example: "Productivity"
        blocks:
          type: array
          items:
            type: object
            description: Blocks of the assistant
            properties:
              type:
                type: number
                example: 1
              inputColums:
                type: array
                description: Array of objects containing information about the input fields used for interaction with the assitant
                items:
                  type: object
                  properties:
                    title:
                      type: string
                      example: "Inputsection 1"
                    inputs:
                      type: array
                      description: Array of objects containing information about the input fields used for interaction with the assitant
                      items:
                        type: object
                        properties:
                          type:
                            type: number
                            example: 1
                            description: Please refer to the type documentation for a mapping between number a input field type
                          key:
                            type: string
                            example: UniqueKey123
                            description: Unique key of the input field
                          name:
                            type: string
                            example: "Name-Input:"
                            description: Name of the input field
                          placeholder:
                            type: string
                            example: "Please insert your name here"
                            description: Optional value used as placeholder in the input field
                          multiple:
                            type: boolean
                            example: false
                            description: Optional value used to descripe select fields with multiple selectable options. Will only appear if the type is a select field
                          maxSelected:
                            type: number
                            example: 10
                            description: Maximum amount of selectable options of the input field is specified as select and allows multiple selected options
                          options:
                            type: object
                            description: Option key to value mapping used for select fields
              initialMessage:
                type: string
                example: "Hello and welcome"
                description: Optional Property used in chat assistants to describe the initial message presented to the user
              prompt:
                type: string
                example: "Write a poem to the topic provided by the user"
                description: Prompt used by the assistant
              personality:
                type: string
                example: "You are a ai assistant interacting with a user"
                description: Describes the personality of the assistant
              name:
                type: string
                example: "Inputblock I"
                description: Name of the block
              model:
                type: string
                example: "GPT4"
                description: String representing the name of the used ai model

          description: Information about the blocks of the assistant. Please refer to the