

.interactionrow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}


.finishformrow{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.errorrow{
    margin-bottom: 20px;
}

.profilesempty{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profilecard{
    height: 75px;
}

.profilecard_title {
    font-weight: bold;
}

.profilecard_tags {
    margin-top: 20px;
}

.profilecounter{
    color: darkgray;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}