.main {

    .singleorderrow{
        display: flex;
        flex-direction: column;
    }

    @media (max-width: 992px) {
        .companyoverview {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            margin-bottom: 32px;
    
            .tokeninformation{
                width: 100%;
                border-radius: 12px;
                margin-bottom: 32px;
    
                .tokeninfocard{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
    
                    .tokeninformation{
                        font-size: 14px;
                        color: #8e8e93;
                        margin-left: 10px;
                    }
    
                    .quotatitle{
                        margin-bottom: 12px;
                    }
        
                    .quotainfo{
                        display: flex;
                        flex-direction: row;
        
                        .quotainfotext{
                            margin-left: 12px;
                        }
                    }
                }
    
                .generatebuttonrow{
                    width: 100%;
                    height: 44px;
                    margin-bottom: 10px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    
                    button {
                        width: 250px;
                        height: 44px;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 24px;
                        padding: 10px 18px 10px 18px;
            
                        .buttonicon > svg{
                          transform: translate(-1px, 4px);
                          fill: transparent;
                          color: inherit;
                          stroke: inherit;
                      }
                    }
                }
            }
    
            .tokenusage{
                width: 100%;
                border-radius: 12px;
    
                .tokeninfocard{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
    
                    .usageinfo{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
    
                        .barcontainer{
                            width: 100%;
                            height: 300px;
                        }
                    }
                }
            }
    
            .finishformrow{
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
    
            .successrow{
                margin-bottom: 20px;
            }
            
            .errorrow{
                margin-bottom: 25px;
            }
    
            .quotarow{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-bottom: 50px;
    
                
            
                .tokenbudget {
                    font-size: 60px;
                    font-weight: bold;
                    margin-top: 50px;
                    text-align: center;
                }
            
                .quotaprogress{
                    margin-top: 50px;
                }
            }
        }
    }

    @media (min-width: 993px) {
        .companyoverview {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 32px;
    
            .tokeninformation{
                width: 50%;
                border-radius: 12px 0px 0px 12px;
    
                .tokeninfocard{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
    
                    .tokeninformation{
                        font-size: 14px;
                        color: #8e8e93;
                        margin-left: 10px;
                    }
    
                    .quotatitle{
                        margin-bottom: 12px;
                    }
        
                    .quotainfo{
                        display: flex;
                        flex-direction: row;
        
                        .quotainfotext{
                            margin-left: 12px;
                        }
                    }
                }
    
                .generatebuttonrow{
                    width: 100%;
                    height: 44px;
                    margin-bottom: 10px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    
                    button {
                        width: 360px;
                        height: 44px;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 24px;
                        padding: 10px 18px 10px 18px;
            
                        .buttonicon > svg{
                          transform: translate(-1px, 4px);
                          fill: transparent;
                          color: inherit;
                          stroke: inherit;
                      }
                    }
                }
            }
    
            .tokenusage{
                width: 50%;
                border-radius: 0px 12px 12px 0px;
    
                .tokeninfocard{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
    
                    .usageinfo{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
    
                        .barcontainer{
                            width: 100%;
                            height: 300px;
                        }
                    }
                }
            }
    
            .finishformrow{
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
    
            .successrow{
                margin-bottom: 20px;
            }
            
            .errorrow{
                margin-bottom: 25px;
            }
    
            .quotarow{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-bottom: 50px;
    
                
            
                .tokenbudget {
                    font-size: 60px;
                    font-weight: bold;
                    margin-top: 50px;
                }
            
                .quotaprogress{
                    margin-top: 50px;
                }
            }
        }
    }

}


.formpart{
    font-weight: 700;
    line-height: 20px;
    size: 14px;
    letter-spacing: 1%;

    .forminput{
      background-color: white;
      padding: 10px 14px 10px 14px;
      border-radius: 8px;
      box-shadow: 0px 1px 2px 0px #1018280D;
      border-color: #D0D5DD;
    }

    .formselect{
      background-color: white;
      border-radius: 8px;
      box-shadow: 0px 1px 2px 0px #1018280D;
      border-color: #D0D5DD;
      font-weight: normal;
    }
}

.actionrow{
    display: flex;
    flex-direction: row;

    .singleaction {
        margin-right: 10px;
    }
}

.listarrow {
    font-size: 10px;
    margin-right: 10px;
}


@media (max-width: 992px){
    .singleorder{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 16px;
    
        .orderdate{
            color: #8e8e93;
            margin-right: 10px;
        }
        
        .orderstate{


            .statustag{
                width: 120px;
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
        }
    }

    .orderoverview {
        width: 100%;
        display: flex;
        flex-direction: column;
    
        .orderdetails{
            width: 100%;
            padding-bottom: 30px;
    
            .singledetail{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
    
                .description{
                    font-weight: 700;
                }
            }
    
            .orderdetail {
                display: flex;
                flex-direction: row;
        
                .description{
                    width: 10%;
                }
            }
        }
    
        .orderactions{
            width: 100%;
        }
    }
}

@media (min-width: 993px){
    .singleorder{
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 16px;
    
        .orderdate{
            color: #8e8e93;
            margin-right: 10px;
        }
    
        .ordertitle{
            width: 30%;
        }
    
        .orderstate{
            margin-left: auto;
    
            .statustag{
                width: 120px;
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
        }
    }
    
    .orderoverview {
        width: 100%;
        display: flex;
        flex-direction: row;
    
        .orderdetails{
            width: 50%;
            border-right-width: 1px;
            border-right-color: rgb(217, 217, 217);
            border-right-style: solid;
            padding-left: 10px;
            padding-right: 30px;
    
            .singledetail{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
    
                .description{
                    font-weight: 700;
                }
            }
    
            .orderdetail {
                display: flex;
                flex-direction: row;
        
                .description{
                    width: 10%;
                }
            }
        }
    
        .orderactions{
            width: 50%;
            padding-left: 30px;
            padding-right: 10px;
        }
    }
}

.orderpagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.nopurchase{
    display: flex;
    flex-direction: row;
    justify-content: center;
}