@media (max-width: 992px) {
    .main{
        display: flex;
        flex-direction: column;

        .greetingrow {
            width: 100%;
            
            .greeting {
                font-size: large;
                font-weight: 700;
                
            }
        
            .greeting_subtitle{
                font-size: 24px;
                font-weight: 700;
            }
        }
    }
}

@media (min-width: 993px) {
    .main{
        display: flex;
        flex-direction: column;
        height: 90vh;

        .greetingrow {
            width: 100%;
            
            .greeting {
                font-size: 32px;
                font-weight: 700;
                
            }
        
            .greeting_subtitle{
                font-size: 24px;
                font-weight: 700;
            }
        }
    }
}

.main {

    .dividerrow{
        >* {
            border-width: 2px;
        }
    }

    .content{
        display: flex;
        flex-direction: column;
        height: 100vh;

        @media (max-width: 992px) {
            .servicelist{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                gap: 32px;
            }
        }

        @media (min-width: 993px) {
            .servicelist{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 32px;
            }
        }

        .bannersection{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }
}