.layout{
    background-color: #F2F4F7;
    color: black;

    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;

        .headerlink{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .headericon> svg{
            font-size: 36px;
            fill: transparent;
            color: inherit;
            stroke: inherit;
        }
    }

    .sidebar {
        background-color: #101828;
        z-index: 1;
        overflow: hidden;
        height: 100vh;

        .logobox {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-bottom: 25px;
            margin-top: 25px;
        }

        .navigation {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 87vh;
            background-color: #101828;

            .primarymenu {
                background-color: #101828;
            }

            .secondarymenu {
                background-color: #101828;
            }

            .changelogrow{
                display: flex;
                flex-direction: row;
                justify-content: center;
                color: #F2F4F7;

                &:hover {
                    cursor: pointer;
                }

                .changelog{
                    color: #D0D5DD;
                    font-size: 20px;
                }
            }

            .avatarcontainer {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-top: 5px;

                &:hover{
                    cursor: pointer;
                }
            }
        }
    }

    .layoutcontent{
        display: flex;
        flex-direction: row;

        .homesidebarcontainer{
            display: flex;
            flex-direction: column;
            padding-top: 25px;
            width: 281px;
            background-color: white;
            color: #344054;
            padding: 36px 16px 0px 16px;
            height: 100%;

            font-size: 16px;
            font-weight: 500;

            .homesidebar {
                .assistantlist {
                    margin-top: 16px;

                    .assistantlink {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        padding: 8px 12px 8px 12px;
                        gap: 12px;

                        &:hover {
                            cursor: pointer;
                        }

                        .assistanticon > svg{
                            size: 3px;
                            height: 21px;
                            width: 20px;
                            transform: translate(-2px, 3px);
                            fill: transparent;
                            color: #344054;
                            stroke: #344054;

                            >path {
                                stroke: #344054;
                            }
                        }
                    }

                    .selectedcat{
                        background-color: #F9FAFB;
                        border-radius: 6px;
                    }
                }
            }
        }

        .childrencontainer{
            padding-top: 30px;
            padding-left: 30px;
            padding-right: 30px;
            background: #F2F4F7;
            width: 100%;
        }
    }

    @media (min-width: 992px) {
        /* .layoutcontent{
            margin-left: 80px;
        } */
    }
    
}

.avatarmenu{

    .accountlink{
        display: flex;
    }
    
    .profile {
        display: flex;
        flex-direction: row;
        align-items: center;
    
        .profileinfo {
            margin-left: 10px;
        }
    }

    .menudivider {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .iconlink{
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 8px;
        padding-left: 16px;
        padding-right: 6px;
        width: 100%;
        margin-top: 10px;

        .linkwrapper{
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .iconlinktext{
            margin-left: 25px;
        }
    }

    >*{
        border-radius: 8px;
        padding-left: 6px;
        padding-right: 6px;
    }

    >:hover {
        cursor: pointer;
    }
}

@media (max-width: 992px) {
    .sidebar{
        display: none;
    }

    .mobilesidebarcontainer{
        display: flex;
        flex-direction: column;
        width: 80px;
        height: 100%;
    }
    .logobox {
        padding-left: 20px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .sidebariconsvg {
        margin-right: 80px;
        padding-left: 4px;
    }

    .sidebarbottomcontainer{
        margin-top: auto;
        margin-bottom: 16px;

        .avatarcontainer {
            padding-left: 20px;
            margin-top: 5px;
        }
    }

    .homesidebarcontainer_mobile{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        width: 100%;
        background-color: #1D2939;
        color: white;
        padding-left: 20px;
        padding-top: 32px;

        .title {
            margin-bottom: 10px;
        }

        .assistantlist {

            .assistantlink{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                padding: 8px 12px 8px 12px;
                gap: 16px;
                font-size: 16px;

                .assistantcatname {
                    color: white;
                }

                .assistanticon > svg{
                    size: 3px;
                    height: 21px;
                    width: 20px;
                    transform: translate(-2px, 3px);
                    fill: transparent;
                    color: white;
                    stroke: white;

                    >path {
                        stroke: white;
                    }
                }
            }

            .selectedcat{
                background-color: #344054;
                border-radius: 6px;
            }
        }

        
    }

    .canclebar{
        width: 80px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        padding-top: 32px;
        background-color: #1D2939;
        

        .closesidebar{
            color: white;
            font-size: 18px;
        }
    }
}

.sidebariconsvg > svg{
    size: 3px;
    height: 21px;
    width: 20px;
    transform: translate(-2px, 3px);
    fill: transparent;
    color: inherit;
    stroke: inherit;
}

.floaticon > svg{
    size: 3px;
    height: 21px;
    width: 20px;
    transform: translate(-1px, 1px);
    fill: transparent;

    > path {
        stroke: black;
    }
}

.newscontainer {
    max-height: 500px;
    overflow-y: scroll;

    .newsitem{
        width: 100%;
    }
}