
.buttonrow {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media(max-width: 992px){
        button {
            width: 200px;
            height: 44px;
            font-weight: 700;
            font-size: 15px;
            line-height: 24px;
            padding: 10px 18px 10px 18px;
            font-weight: bold;
        }
    }
    
    @media(min-width: 993px){
        button {
            width: 446px;
            height: 44px;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            padding: 10px 18px 10px 18px;
            font-weight: bold;
        }
    }
}